<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:replace="~{admin/fragments :: frg_static}"/>
</head>
<body>
<div class="admin-container">
  <th:block th:replace="~{admin/fragments :: frg_sidenav}"/>
  <div class="main-content">
    <th:block th:replace="~{admin/fragments :: frg_header}"/>

    <div layout:fragment="content">

    </div>
  </div>

</div>
<th:block th:replace="~{admin/fragments :: frg_footer}"/>
</body>
</html>